



.errormsg{
    color:red;
    font-size: 18px;
}

.input-field{
    width:100%;
    height: 40px;
    background-color: #E2E8F0;
    border-radius: 2px;
    border: 0px;
}

.input-label{
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color:#475569;

}

.input-container{
    display: flex;
    flex-direction: column;
    gap:8px;

}
form>button{
    width:100%;
    padding:12px 16px;
    border-radius: 8px;
    background-color: #F7931E;
    border: none;
    font-size: 14px;
    font-family:serif;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    gap:24px;
    width: 100%;
}

.form-field-container{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.login-txt{
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color:#0F172A;
}
.form-logo-container>img{
    width:52px;
}
.form-logo-container>div{
        color:#F7931E;
        font-size: 24px;
        line-height: 32px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700px;
}
.form-logo-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #FEFEFF;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-container{
   width: 50%;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.banner-img{
    width:50%;
    height: 100svh;

}
.form-section{
    background-color: #FFFFFF;
}
.form-main-container{
    display: flex;
    flex-direction: row;

}